//---------------------------------------------------------- FRONTEND--------------------------------------------------------------------------------------------
frontend/automation/.env

frontend/node_modules

frontend/automation/node_modules

//---------------------------------------------------------- BACKEND------------------------------------------------------------------------------------------------ 

backend/.wwebjs_auth

backend/.wwebjs_cache

backend/node_modules

backend/.env

backend/session.zip

backend/session-backup.zip

/--------------------------------------------------------------LOGS--------------------------------------------------------------------------------------------------

*.log

/---------------------------------------------------------------OS FILES------------------------------------------------------------------------------------------

.DS_Store
Thumbs.db

/---------------------------------------------------------------VS CODE------------------------------------------------------------------------------------------

.vscode/
